<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Marina's Super Cool Carslist</title>
  </head>
    <body>
    <h1>Marina's Super Cool Carslist!</h1>

    <form action="/cars" method="post">

      <label for="description">Add Car Make and Model, year and price.</label>
      <input id="description" name="description" type="text">

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
